@primary-text: #303133;
@regular-text: #606266;

@body-font-size: 14px;
@small-font-size: 13px;
@Supplementary-font-size: 12px;
@small-title-font-size: 16px;
@title-font-size: 16px;
@main-title-font-size: 16px;

@primary-color: #409eff;
@primary-dark-color: #2d71b9;
@primary-light-3: #79bbff;
@primary-light-7: #c6e2ff;
@primary-light-8: #d9ecff;
@primary-light-9: #ecf5ff;

@aside-back-color: #2f344e;
@main-back-color: #eeeff4;
@success-color: #67c23a;
@warning-color: #e6a23c;
@danger-color: #f56c6c;
@info-color: #909399;
